.about-background {
  position: absolute;
  width: 100vw;
  height: 100vh;
  background-image: linear-gradient(287.56deg, #000000 0%, #434343 100%);
}

.about {
  position: relative;
  width: 60%;
  margin: auto;
}

.about-title {
  margin-top: 80px;
  font-size: 40px;
}
