a {
  text-decoration: none;
  color: #F1F1F1;
}
.contact-background {
  width: 100vw;
  height: 100vh;
  background: linear-gradient(286.46deg, #F1F1F1 1.27%, #F8F8F8 50%);
  display: flex;
  align-items: center;
  justify-content: center;
}

.contact {
  width: 60%;
  margin: 0 auto;
  height: 80vh;
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
}

.contact-title {
  color: #373737;
  font-size: 40px;
  text-align: center;
}

.contact-list {
  display: flex;
  list-style: none;
  justify-content: space-evenly;
  align-items: center;
}

.contact-list-item {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 170px;
  height: 58px;
  font-size: 22px;
  font-weight: 600;
  border-radius: 5px;
  filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.25));
  transition: 0.5s;
}

.contact-list-item:hover {
  scale: 1.1;
  
}

.contact-list-item img {
  margin-right: 5px;
  width: 30px;
}

.likedin-button {
  background: linear-gradient(94.31deg, #5E96C5 0%, #0E76A8 110.56%);
}

.github-button {
  background: linear-gradient(94deg, #3D3D3D 0%, #000000 148.55%);
}

.github-button img { 
  /*o icone do github tem bordas maiores e precisa de compensação*/
  width: 34px;
}

.email-button {
  background: linear-gradient(94deg, #E2525C 0%, #A63525 148.55%);
}

.contact-copy-right {
  color: #373737;
  text-align: center;
}
