.header {
  width: 60%;
  height: 70px;
  padding: 20px 0;
  z-index: 1;
  /* Alinhamnto com margen negativa */
  position: fixed;
  left: 50%;
  margin-left: -30%;
}


.header-logo {
  width: 70px;
}

.header-nav {
  margin-left: 20px;
}

.header-nav-link {
  display: inline-block;
  margin: 0 10px;
}

.header-nav-link a {
  text-decoration: none;
  font-weight: 600;
  color: var(--white);
  font-size: 18px;
  opacity: 0.8;
}

.header-nav-link a:hover {
  opacity: 1;
}
