.home {
  display: flex;
  height: 96vh;
  color: var(--white);
}

.home-left-side, .home-right-side {
  width: 50%;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.home-left-side {
  align-items: flex-start;
}


.home-right-side {
  align-items: flex-end;
}

.home-title {
  font-size: 50px;
  font-weight: 600;
  color: var(--white);
}

.home-title span {
  color: var(--red);
}

.home-paragraph-section {
  position: relative;
  height: 160px;
}

.home-paragraph {
  font-size: 28px;
}

.home-underlines {
  position: absolute;
  width: 170px;
  right: 0;
  bottom: -6px;
}

.home-hero {
  width: 600px;
}

