.home-background {
  background: linear-gradient(287.56deg,#000000 0%, #2e2e2e 100%);
  width: 100vw;
  height: 100vh;
  background-size: 300% 300%;
  animation: bg-animation 15s infinite alternate;
  z-index: 0;
}

@keyframes bg-animation  {
  0% {
    background-position-x: 0%;
    background-position-y: 100%;
  }

  100% {
    background-position: 100%;
    background-position-y: 0%;
  }
}

.home {
  display: flex;
  height: 96vh;
  color: var(--white);
  position: relative;
  margin: 0 auto;
  width: 60%;
}

.home-left-side, .home-right-side {
  width: 50%;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.home-left-side {
  align-items: flex-start;
}


.home-right-side {
  align-items: flex-end;
}

.home-title {
  font-size: 50px;
  font-weight: 600;
  color: var(--white);
}

.home-title span {
  color: var(--red);
}

.home-paragraph-section {
  position: relative;
  height: 160px;
}

.home-paragraph {
  font-size: 28px;
}

.home-underlines {
  position: absolute;
  width: 170px;
  right: 0;
  bottom: -6px;
}

.home-hero {
  width: 600px;
}

.arrow {
  position: absolute;
  bottom: 0;
  right: 50%;
  rotate: -90deg;
  width: 20px;
  animation: motion-arrow 1s infinite alternate;
}

@keyframes motion-arrow {
  from { bottom: 20px; }
  to { bottom: 0; }
}
