.navbar {
  position: fixed;
  z-index: 3;
  display: flex;
  align-items: center;
  bottom: 60px;
  left: 20%;
  animation: fade-in 0.5s;
}

@keyframes fade-in {
  from {
    opacity: 0;
    bottom: 0;
  } to {
    opacity: 1;
    bottom: 60px;
  }
}

.navbar-background-icon {
  background: linear-gradient(131.19deg, #1F8FE0 5.83%, #E2525C 100%);
  border-radius: 100%;
  width: 60px;
  height: 60px;
  display: flex;
  align-items: center;
  justify-content: center;
  box-shadow: 2px 4px 4px rgba(72, 72, 72, 0.25);
}

.navbar-icon {
  width: 40px;
  transition: 0.5s;
}

.navbar-icon:hover {
  rotate: 90deg;
}



.navbar-link-list {
  display: flex;
  align-items: center;
  justify-content: space-evenly;
  list-style: none;
  height: 50px;
  width: 280px;
  margin-left: 10px;
  border-radius: 100px 100px 100px 5px; /*Ainda não sei se vai ficar com essa borda diferente*/
  background-color: var(--white);
  box-shadow: 2px 4px 4px rgba(72, 72, 72, 0.25);
}

.navbar-link {
  color: #373737;
  opacity: 0.4;
  font-weight: 600;
  font-size: 18px;
  text-decoration: none;
}


.navbar-link:hover {
  opacity: 1;
}

.active {
  opacity: 1 !important;
}
