.projects-background {
  position: absolute;
  top: 200vh;
  width: 100vw;
  height: 100vh;
  background: linear-gradient(72.44deg, #DEDEDE 0%, rgba(243, 243, 243, 0.99) 100%);
}

.projects {
  width: 60%;
  margin: 0 auto;
}

.projects-title-section {
  margin-top: 80px;
  display: flex;
  align-items: center;
  justify-content: flex-end;
}

.projects-title {
  font-size: 40px;
  color: #373737;
}

.projects-title-pipe {
  height: 40px;
  width: 10px;
  margin-left: 8px;
  background: linear-gradient(180deg, #E2525C 0%, #1F8FE0 100%);
}

.project-list {
  position: absolute;
  top: calc(50% - 146px);
  left: calc(50% - 750px);
  display: flex;
  justify-content: space-around;
  flex-wrap: wrap;
  width: 120%;
  max-width: 1500px;
  list-style: none;
}