.timeline {
  position: relative;
  width: 1267px;
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-top: 60px;
  gap: 30px;
}

.timeline-div {
  z-index: 0;
  position: absolute;
  left: 50%;
  height: calc(100% + 20px);
  width: 1px;
  background-color: rgb(86, 86, 86);
}

.timeline-point-left, .timeline-point-right {
  z-index: 1;
  display: flex;
  flex-direction: row;
  align-items: center;
  width: calc(50% + 128px);
  padding: 20px 20px;
  border-radius: 10px;
  transition: 0.4s;
}

.timeline-point-left:hover, .timeline-point-right:hover {
 background-color: #313131;
 box-shadow: inset 41px 41px 82px #2a2a2a, inset -41px -41px 82px #383838;
  scale: 1.05;
}

.timeline-point-left {
  /* Alinhamento relacionado ao pai */
  align-self: flex-end;

  /* Alinhamento dos descendentes */
  text-align: left;
}

.timeline-point-right {
  /* Alinhamento relacionado ao pai */
  align-self: flex-start;

  /* Alinhamento dos descendentes */
  text-align: right;
}

.title-context-section {
  flex-basis: 80%;
}

.date-section {
  flex-basis: 10%;
}

.bulletpoint-section {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-basis: 10%;
}

.bulletpoint {
  width: 12px;
  height: 12px;
  background-color: var(--blue);
  border-radius: 100%;
  margin: 10px;
}