.timeline {
  position: relative;
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-top: 60px;
  gap: 30px;
}

.timeline-div {
  z-index: 0;
  position: absolute;
  right: 15px;
  height: 100%;
  width: 1px;
  background-color: rgb(86, 86, 86);
}

.timeline-point {
  width: 100%;
  z-index: 1;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  text-align: right;
  padding: 20px 10px;
  border-radius: 10px;
  transition: 0.4s;
  border: solid 1px rgb(86, 86, 86);
}

.timeline-point:hover {
  background-color: #313131;
  box-shadow: inset 41px 41px 82px #2a2a2a, inset -41px -41px 82px #383838;
  scale: 1.05;
  border: none;
 }
 
 .title-context-section {
   flex-basis: 90%;
 }
 
 .date-section {
   flex-basis: 5%;
 }

.bulletpoint-section {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-basis: 5%;
}

.bulletpoint {
  width: 12px;
  height: 12px;
  background-color: var(--blue);
  border-radius: 100%;
  /* margin: 10px; */
}