.about {
  width: 100vw;
  min-height: 100vh;
  background-image: linear-gradient(287.56deg, #000000 0%, #434343 100%);
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.about__content {
  width: 80vw;
  max-width: 1000px;
}

.about__title {
  font-size: 3rem;
  margin-top: 40px;
}

.about__paragraph {
  font-size: 1.2rem;
  margin-bottom: 10px;
}