.home {
  background: linear-gradient(287.56deg,#000000 0%, #242424 100%);
  width: 100%;
  height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  position: relative;
  z-index: 0;
}

.home__content {
  width: 80vw;
  max-width: 1000px;
}

.home__sides {
  display: flex;
  justify-content: space-between;
}

.home__l-side {
  display: flex;
  flex-direction: column;
  justify-content: center;
  flex-basis: 55%;
}

.home__title {
  font-size: 3rem;
  margin-bottom: 10px;
}

.home__paragraph {
  font-size: 1.2rem;
  font-weight: 300;
}

.home__r-side {
  display: flex;
  align-items: center;
}

.home__hero {
  min-width: 300px;
  width: 28vw;
  max-width: 480px;
}

.home__arrow {
  position: absolute;
  bottom: 50px;
  right: 50%;
  rotate: -90deg;
  width: 20px;
  animation: motion-arrow 1s infinite alternate;
}

@keyframes motion-arrow {
  from { bottom: 50px; }
  to { bottom: 20px; }
}

@media screen and ( max-width: 850px ) {
  .home__sides {
    display: flex;
    flex-direction: column-reverse;
    align-items: center;
  }

  .home__l-side {
    align-items: center;
  }

  .home__title {
    font-size: 2rem;
   justify-content: center;
  }
  
  .home__paragraph {
    text-align: center;
    font-size: 1rem;
  }
}

@media screen and ( max-width: 560px ) {
  .home__content {
    width: 90vw;
  }

  .home__title {
    font-size: 2rem;
    text-align: center;
  }
  
  .home__paragraph {
    text-align: center;
    font-size: 1rem;
  }
}